<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c7788420e7.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid " style="height: 100vh; padding: 0;">
    <div th:replace="fragments/headerAdmin :: header">...</div>

    <div class="row" style="height: 92%; margin: 0;">
        <div th:replace="fragments/sideBarAdmin :: sidebar">...</div>

        <div class="col" style="border-top: none; box-sizing: border-box;" id="viewcontent">
            <h2 class="mt-3 pb-3 border-bottom mb-3" style="font-weight: 400;">Danh sách chủ đề tour</h2>
            <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#them">Thêm chủ đề</button>

            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm chủ đề</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="createTourType" modelAttribute="tourType">

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="inputEmail4">Tên chủ đề</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="" name="name">
                                </div>


                                <div class="form-group">
                                    <label for="inputAddress2">Mô tả</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="" name="description">
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Danh sách chủ đề
                </div>
                <div class="card-body">
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <th style="width: 10%">ID</th>
                            <th style="width: 70%">Tên chủ đề</th>
                            <th style="width: 20%">Hàng động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each ="tourType : ${tourTypes}">
                            <td th:utext="${tourType.id}">...</td>
                            <td th:utext="${tourType.name}">...</td>
                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal" th:attr="data-target='#sua'+${tourType.id}">Sửa</button>

                                <!-- Modal -->
                                <div class="modal  fade bd-example-modal-lg"  th:id="'sua' + ${tourType.id}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" >Sửa chủ đề</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" action="updateTourType" modelAttribute="tourType">
                                                <div class="modal-body">
                                                    <input type="hidden" id="custId" name="id" th:value="${tourType.id}">
                                                    <div class="form-group">
                                                        <label for="inputEmail4">Tên chủ đề</label>
                                                        <input type="text" class="form-control" placeholder="" name="name" th:value="${tourType.name}">
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="inputAddress2">Mô tả</label>
                                                        <input type="text" class="form-control" placeholder="" name="description" th:value="${tourType.description}">
                                                    </div>



                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-primary">Sửa</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#xoa'+${tourType.id}">
                                    Xóa
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="'xoa' + ${tourType.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="xoamodel">Xóa chủ đề</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <form method="post" action="deleteTourType" modelAttribute="tourType">
                                                <input type="hidden"  name="id" th:value="${tourType.id}">




                                                <div class="modal-body">
                                                    Bạn có chắc chắn muốn xóa chủ đề này ?

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                    <button type="submit" class="btn btn-primary">Xóa</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>