<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c7788420e7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">

    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<div class="container-fluid " style="height: 100vh; padding: 0;">
    <div th:replace="fragments/headerAdmin :: header">...</div>

    <div class="row" style="height: 92%; margin: 0;">
        <div th:replace="fragments/sideBarAdmin :: sidebar">...</div>

        <div class="col" style="border-top: none; box-sizing: border-box;" id="viewcontent">



            <h2 class="mt-3 pb-3 border-bottom mb-3" style="font-weight: 400;">
                Danh sách tài khoản
            </h2>

            <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#exampleModal">Thêm tài khoản</button>

            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" action="account" modelAttribute="account" class="needs-validation" novalidate>

                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Tên đăng nhập</label>
                                        <input type="text" class="form-control" name="username" required>
                                        <div class="invalid-feedback">
                                            Mục bắt buộc.
                                        </div>
                                    </div>
                                    <div class=" form-group col-md-6">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" required>
                                        <div class="invalid-feedback">
                                            Mục bắt buộc.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Họ và tên</label>
                                        <input type="text" class="form-control" name="name" required>
                                        <div class="invalid-feedback">
                                            Mục bắt buộc.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Mật khẩu</label>
                                        <input type="password" class="form-control" name="password" required>
                                        <div class="invalid-feedback">
                                            Mục bắt buộc.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="roleSystem" value="1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Quản lý
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="travelAgency_id">
                                            <option th:each="travelAgency : ${travelAgencies}" th:value="${travelAgency.id}" th:text="${travelAgency.name}"></option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="roleSystem" value="0">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Quản trị viên
                                    </label>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <table id="accountTable" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width: 10%">ID</th>
                            <th style="width: 20%">Tên đăng nhập</th>
                            <th style="width: 30%">Email</th>
                            <th style="width: 20%">Vai trò</th>
                            <th style="width: 20%">Hàng động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each ="account : ${accounts}">
                            <td th:utext="${account.id}">...</td>
                            <td th:utext="${account.username}">...</td>
                            <td th:utext="${account.email}">...</td>
                            <td class="h5">
                                <th:block th:switch="${account.role.value}">
                                    <div >
                                        <span th:case="'0'" class="badge badge-danger">Admin</span>
                                    </div>
                                    <div th:case="'1'">
                                        <span class="badge badge-success">Quản lý</span>
                                    </div>
                                    <div th:case="'2'">
                                        <span class="badge badge-primary">Khách hàng</span>
                                    </div>
                                </th:block>

                            </td>
                            <td>
                                <button type="button" class="btn btn-success" data-toggle="modal" th:attr="data-target='#sua'+${account.id}"><i class="fa-solid fa-arrow-rotate-left"></i> Reset mật khẩu</button>

                                <!-- Modal -->
                                <div class="modal  fade bd-example-modal-lg"  th:id="'sua' + ${account.id}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" >Reset mật khẩu</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" action="resetPassword" modelAttribute="account">
                                                <input type="hidden"  name="id" th:value="${account.id}">

                                                <div class="modal-body">
                                                    Bạn có chắc chắn muốn reset mật khẩu này ?

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                    <button type="submit" class="btn btn-primary">OK</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger mt-1" data-toggle="modal" th:attr="data-target='#xoa'+${account.id}">
                                    Xóa
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="'xoa' + ${account.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="xoamodel">Xóa tài khoản</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <form method="post" action="deleteAccount" modelAttribute="account">
                                                <input type="hidden"  name="id" th:value="${account.id}">




                                                <div class="modal-body">
                                                    Bạn có chắc chắn muốn xóa tài khoản này ?

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                    <button type="submit" class="btn btn-primary">Xóa</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <th:block th:switch="${account.role.value}">

                                    <div th:case="'2'">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary mt-1" data-toggle="modal" th:attr="data-target='#role'+${account.id}">
                                            Ủy quyền
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" th:id="'role' + ${account.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Ủy quyền</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <form method="post" action="setRole" modelAttribute="account">
                                                        <input type="hidden"  name="id" th:value="${account.id}">

                                                        <div class="modal-body">
                                                            <div class="form-group row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio" name="roleSystem" id="exampleRadios1" value="1" checked>
                                                                        <label class="form-check-label" for="exampleRadios1">
                                                                            Quản lý
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <select class="form-control" name="travelAgency_id">
                                                                        <option th:each="travelAgency : ${travelAgencies}" th:value="${travelAgency.id}" th:text="${travelAgency.name}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="roleSystem" id="exampleRadios2" value="0">
                                                                <label class="form-check-label" for="exampleRadios2">
                                                                    Quản trị viên
                                                                </label>
                                                            </div>

                                                        </div>


                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                            <button type="submit" class="btn btn-primary">OK</button>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>

                                <button type="button" class="btn btn-warning mt-1" data-toggle="modal" th:attr="data-target='#update'+${account.id}">
                                    Sửa
                                </button>

                                <!-- Modal -->
                                <div class="modal  fade bd-example-modal-lg"  th:id="'update' + ${account.id}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" >Sửa thông tin tài khoản</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" action="updateAccount" modelAttribute="account">
                                                <input type="hidden"  name="id" th:value="${account.id}">

                                                <div class="modal-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>Tên đăng nhập</label>
                                                            <input type="text" class="form-control" th:value="${account.username}" readonly>
                                                        </div>
                                                        <div class=" form-group col-md-6">
                                                            <label>Email</label>
                                                            <input type="text" class="form-control" th:value="${account.email}" readonly>

                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label>Họ và tên</label>
                                                            <input type="text" class="form-control" name="name" th:value="${account.name}">
                                                        </div><div class="col-sm-6">
                                                            <label>Số điện thoại</label>
                                                            <input type="text" class="form-control" name="mobilePhone" th:value="${account.mobilePhone}">
                                                        </div>
                                                    </div>

                                                    <th:block th:switch="${account.role.value}">

                                                        <div th:case="'1'">
                                                            <div class="form-group row">
                                                                <div class="col-sm-12">
                                                                    <label>Quản lý đại lý lữ hành</label>
                                                                    <input type="text" class="form-control" th:value="${account.travelAgency.name}" readonly>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </th:block>



                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                    <button type="submit" class="btn btn-primary">OK</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/dataTable.js"></script>
<script src="js/validateBootstrap.js"></script>

</body>
</html>